@tailwind base;
@tailwind components;
@tailwind utilities;
/* Remove Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-out 0s;
}

/* Remove blue focus overlay */
input:focus {
  background-color: transparent !important;
}
